<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
  <div class="container">
    <a class="navbar-brand" href="/">Agora</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Feed", feed_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%
            friend_requests = current_user.friend_request_count
            text = "Friends" + (friend_requests == 0 ? '' : " (+#{friend_requests})")
          %>
          <%= link_to text, friends_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "People", people_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", dialogs_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>