<ul>
  <li><%= link_to "Profile", user_path(current_user) %></li>
  <li><%= link_to "Feed", feed_path %></li>
  <li><%= link_to "Create Post", new_post_path %></li>
  <%
    friend_requests = current_user.friend_request_ids.count
    text = "Friends" + (friend_requests == 0 ? '' : " (+#{friend_requests})")
  %>
  <li><%= link_to text, friends_path(current_user) %></li>
  <li><%= link_to "People", people_path %></li>
  <li><%= link_to "Messages", dialogs_path %></li>
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
</ul>