<div class="container bg-light rounded shadow-sm my-3 py-2">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name, required: false %>
      <%= f.input :last_name, required: false %>
      <%= f.input :sex, required: false, as: :radio_buttons,
                  collection: [%w[1 female], %w[2 male]], label_method: :second, value_method: :first,
                  wrapper_html: { style: "display: flex; flex-direction: column;" } %>

      <%= f.input :birthday, required: false, default: nil %>
      <%= f.input :avatar, required: false,
                  wrapper_html: { class: "my-2" }%>
    </div>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: "submit-button" %>
    </div>
  <% end %>
  <hr>
  <p><%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" },
                 method: :delete, class: "btn btn-danger" %></p>

</div>