<!DOCTYPE html>
<html>
<head>
  <title>OdinAgora</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if user_signed_in? %>
  <div>
    <%= render 'static_pages/menu' %>
  </div>
  <div>
    <% flash.each do |type, msg| %>
      <% type = type == 'alert' ? 'warning' : 'success' %>
      <div class="alert alert-<%= type %>">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </div>
<% else %>
  <% flash.each do |type, msg| %>
    <% type = type == 'alert' ? 'warning' : 'success' %>
    <div class="alert alert-<%= type %>">
      <%= msg %>
    </div>
  <% end %>
  <%= yield %>
<% end %>
</body>
</html>
